.textarea{
    resize: none;
    width:100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    outline: none;
    border-color: #c4c4c4;
  }

  .legend {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #FFFFFF;
    color: #5f5e5e;
}

.fieldset{
  border:0.5px solid #c4c4c4;
  height:10%;
  position:relative;
  border-bottom: none;
  
}