.activeTab {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 500;
    color: #e56700;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.inActivetab {
    background: #dbdbdb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #9f9f9f;
    transition: background-color 0.3s ease-in-out;
}

.outlineNone{
    border: none !important;
}