.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../public/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.profitLink {
  font-size: 12px;
  color: #1eaab3;
  text-decoration: underline;
}
