.tabContainer {
  display: flex;
  cursor: pointer;
  /* position: absolute;
  top: -30px;
  left: 0px; */
}

.tabStyle {
  padding: 3px 16px 3px 15px;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 10px 10px 0 0;
  /* min-width: 100px; */
  position: relative;
  text-align: center;
}

.activeTab {
  cursor: pointer;
  color: #e56700;
  font-weight: 600;
  background: white;
  padding: 3px 16px 3px 15px;
  border-radius: 10px 10px 0 0;
  /* min-width: 100px; */
  position: relative;
  text-align: center;
}

.activeTab::before {
  box-shadow: 10px 0px 0 #fff;
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: -16px;
  background: #f0f0f0;
  border-bottom-right-radius: 13px;
  height: 20px;
  width: 16px;
  z-index: 1;
}
.activeTab::after {
  box-shadow: -8px 2px 0 #ffffff;
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: -15px;
  background: #f0f0f0;
  border-bottom-left-radius: 17px;
  height: 17px;
  width: 15px;
  z-index: 1;
}
.firstActiveTab {
  cursor: pointer;
  color: #e56700;
  font-weight: 600;
  background: white;
  padding: 3px 16px 3px 15px;
  border-radius: 10px 10px 0 0;
  /* min-width: 100px; */
  position: relative;
  text-align: center;
}

.firstActiveTab::after {
  box-shadow: -8px 2px 0 #ffffff;
  content: "";
  cursor: pointer;
  display: block;
  position: absolute;
  top: 14px;
  right: -15px;
  background: #f0f0f0;
  border-bottom-left-radius: 17px;
  height: 17px;
  width: 15px;
  z-index: 1;
}
.lastActiveTab {
  color: #e56700;
  font-weight: 600;
  background: white;
  padding: 3px 16px 3px 15px;
  border-radius: 10px 10px 0 0;
  /* min-width: 100px; */
  position: relative;
  cursor: pointer;
  text-align: center;
}

.lastActiveTab::before {
  box-shadow: 10px 0px 0 #fff;
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  cursor: pointer;
  left: -16px;
  background: #f0f0f0;
  border-bottom-right-radius: 13px;
  height: 20px;
  width: 16px;
  z-index: 1;
}
