.dateinput::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-image: url(../../../public/assets/calendar.png);
  width: 30px;
  height: 30px !important;
  border-width: thin;
}

.searchInput {
  background-color: #eeeeee;
  outline: none;
  border: #eeeeee;
  padding: 5px 15px;
  border-radius: 20px;
}
