.dateinput::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-image: url(https://dev-mrmrscart-assets.s3.ap-south-1.amazonaws.com/asset/calendar.png);
  width: 30px;
  height: 30px !important;
  border-width: thin;
  user-select: none;
}

.dateinput::-webkit-datetime-edit-day-field:focus,
.dateinput::-webkit-datetime-edit-month-field:focus,
.dateinput::-webkit-datetime-edit-year-field:focus {
  background-color: white;
  color: black;
  outline: none;
}

.timepicker::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background-image: url(https://dev-mrmrscart-assets.s3.ap-south-1.amazonaws.com/asset/image_2022_11_12T08_11_12_685Z.png) !important;
  width: 25px;
  height: 25px !important;
  border-width: thin;
  user-select: none;
}
