.bg-orange {
    background-color: #e56700 !important;
}

.body-bg{
    background-color: #f7f7f7 !important;
}

.color-orange {
    color: #e56700 !important;
}

.color-white {
    color: #fff !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-light-gray {
    background-color: #F0F0F0 !important;
}
.bg-gray {
    background-color: #b9b9b9 !important;
}

.bg-light-orange {
    background-color: #F28F3F !important;
}

.color-light-gray{
    color: #F0F0F0 !important;
}
.border-orange {
    border-color: #e56700 !important;
  }

.bg-light-green{
    background-color: #e2ffd4 !important;
}
.color-green{
    color: #e2ffd4 !important;
}
.color-error{
    color:#d32f2f !important
}