.bg-orange {
    background-color: #e56700 !important;
}

.color-orange {
    color: #e56700 !important;
}

.color-white {
    color: #fff !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-light-gray {
    background-color: #F0F0F0 !important;
}

.bg-light-orange {
    background-color: #F28F3F !important;
}

.border-orange {
    border-color: #e56700 !important;
  }