:root {
  --themeColor: #e56700;
  --secondaryColor: "#f4e7dc";
}

.theme_bg_color {
  background-color: var(--themeColor) !important;
}
.theme_color {
  color: var(--themeColor) !important;
}
.theme_border_color {
  border-color: var(--themeColor) !important;
}
.theme_svg_fill {
  fill: var(--themeColor) !important;
}

.active-tab {
  color: var(--themeColor) !important;
  border-bottom: 1px solid var(--themeColor);
  padding: 3px 0px;
}

.theme_bg_color_1 {
  background-color: var(--secondaryColor) !important;
}
