
.overflow-y-scroll {
  overflow-y: auto;
}
.overflow-x-scroll {
  overflow-x: auto;
}
.align-center {
  display: flex;
  justify-content: center !important;
}
.border-orange {
    border-color: #e56700 !important;
}