.overflow-y-scroll {
  overflow-y: auto;
}

.overflow-x-scroll {
  overflow-x: auto;
}

.align-center {
  display: flex;
  justify-content: center !important;
}

.border-orange {
  border-color: #e56700 !important;
}

//font weight
.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

//font size
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}


// scrollbar styles

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// heights

.mxh-80vh {
  max-height: 80vh;
}

.MuiDrawer-paper {
  top: auto !important;
  border-right: none;
  position: static;
}