.vp-height {
  height: 100vh;
}

.vp-width {
  width: 100vw;
}

.p-width {
  width: 100%;
}

.p-height {
  height: 100%;
}

.fit-content {
  width: fit-content;
}

.height-fit-content {
  height: fit-content !important;

}

.mnh-150 {
  min-height: 150px;
}

.mnh-inherit {
  min-height: inherit;
}

.mnh-200 {
  min-height: 200px;
}

.mnh-300 {
  min-height: 300px;
}

.mnh-400 {
  min-height: 400px;
}
.mnh-250{
  min-height: 250px;
}
.mnh-500 {
  min-height: 500px;
}

.mnh-100 {
  min-height: 100px;
}

.mxh-100 {
  max-height: 100px;
}

.mxh-100vh {
  max-height: 100vh;
}

.mxh-95vh {
  max-height: 90vh !important;
}

.mnh-80vh {
  min-height: 80vh
}

.mnh-79vh{
  min-height: 79vh
}
.mxh-130 {
  max-height: 130px;
}

.mnh-130 {
  min-height: 130px;
}

.mxh-150 {
  max-height: 150px;
}

.mxh-200 {
  max-height: 200px;
}

.mxh-300 {
  max-height: 300px !important;
}

.mxh-400 {
  max-height: 400px;
}

.mxh-500 {
  max-height: 500px;
}

.mxh-600 {
  max-height: 600px;
}

.w-250px {
  width: 250px;
}

.w-400px {
  width: 400px;
}

.w-10p {
  width: 10%;
}

.w-20p {
  width: 20% !important;
}

.w-40p{
  width: 40% !important;
}

.w-25px {
  width: 25px !important;
}

.h-25px {
  height: 25px !important;
}

.h-135px{
  height: 135px !important;
}

.w-80p {
  width: 80% !important;
}

.w-95p {
  width: 95%;
}

.h-92 {
  height: 92% !important
}

.mxh-80vh {
  max-height: 80vh;
}

.mxh-75vh {
  max-height: 75vh;
}

.mxh-60vh {
  max-height: 55vh;
}

.mnh-75vh {
  min-height: 75vh;
}

.w-90p {
  width: 90% !important;
}

.w-70p {
  width: 70% !important;
}

.w-60p {
  width: 60% !important;
}

.w-40p {
  width: 40% !important;
}

.w-30p {
  width: 30% !important;
}

.h-20p {
  height: 20px !important;
}

.h-45p {
  height: 45px !important;
}

.w-33p {
  width: 33.33% !important;
}

.w-66p {
  width: 66.66% !important;
}

.w-60p {
  width: 60% !important;
}

.w-58p {
  width: 58% !important;
}

.h-95p {
  height: 95% !important;
}

.mxw-200 {
  max-width: 200px;
}

.mxw-85vw {
  max-width: 85vw;
}

.mxh-50 {
  max-height: 50px;
}

.mnw-150 {
  min-width: 150px !important;
}

.w-200px {
  width: 200px !important
}

.w-135px{
  width: 135px !important;
}

.mnw-200px {
  min-width: 200px !important;
}

.mnw-300 {
  min-width: 300px !important;
}

.w-90vw {
  width: 90vw;
}

.mxw-90vw {
  max-width: 90vw;
}

.mnh-80vh {
  min-height: 80vh;
}

.mnh-100vh {
  min-height: 100vh;
}

.mnw-100vh {
  min-width: 100vw
}

.mxh-50vh {
  max-height: 50vh
}

.h-300px {
  height: 300px !important;
}

.w-300px {
  width: 300px;
}

.w-100px {
  width: 150px;
}

.h-150 {
min-height: 150px;
}

.h-30 {
  min-height: 50px;
}

.w-130px {
  min-width: 290px !important;
}

.w-25p {
  width: 25% !important;
}

.h-19p {
height: 19% !important;
}

.w-20p{
  width: 20%;
}

.w-30 {
  width: 30px !important;
}